{% extends "base.twig" %}

{% block main %}
    <form method="post" action="index.php?action=new_element&balise={{balise}}&element1={{media}}" enctype="multipart/form-data">
       <div class="form_post">
            <div class="form_form">
                <h1>Vous avez choisi la balise {{media}}</h1>
                {% if media == 'img' %}
                    <input type="text" name="title_encadre" id="title_encadre" placeholder="Titre de l'encadré" class="form_input">
                    <select name="classCSS1" id="classCSS" class="form_input">
                        <option value="">--- Choisissez un style ---</option>
                        <option value="modal">Avec Trigger</option>
                        <option value="">Sans Trigger</option>
                    </select>
                    <div class="form_input" id="InputFile">
                        <label for="imgInp1">
                            Changer l'image
                            <input type="file" name="my_image1" id="imgInp1" accept="image/*"/>
                        </label>
                    </div>
                    <select name="classCSS2" class="form_input">
                        <option>--- Choisissez où vous voulez positionner l'encadré ---</option>
                        <option value="float-left">A gauche</option>
                        <option value="float-right">A droite</option>
                    </select>
                    <input type="text" name="legende1" id="legende" placeholder="Légende de l'image" class="form_input">
                    <input type="text" name="credit1" id="credit" placeholder="Crédits de l'image" class="form_input">
                {% elseif media == 'audio' %}
                    <input type="text" name="title_encadre" id="title_encadre" placeholder="Titre de l'encadré" class="form_input">
                    <div class="form_input" id="InputFile">
                        <label for="audioInp1">
                            Uploader un fichier audio 
                            <input type="file" name="my_audio1" id="audioInp1" accept="audio/*"/>
                        </label>
                    </div>
                    <select name="classCSS2" class="form_input">
                        <option>--- Choisissez où vous voulez positionner l'encadré ---</option>
                        <option value="float-left">A gauche</option>
                        <option value="float-right">A droite</option>
                    </select>
                    <input type="text" name="legende1" id="legende" placeholder="Légende de l'audio" class="form_input">
                    <input type="text" name="credit1" id="credit" placeholder="Crédits de l'audio" class="form_input">
                {% elseif media == 'audio_image' %}
                    <input type="text" name="title_encadre" id="title_encadre" placeholder="Titre de l'encadré" class="form_input">
                    <div class="form_input" id="InputFile">
                        <label for="audioInp1">
                            Uploader un fichier audio 
                            <input type="file" name="my_audio1" id="audioInp1" accept="audio/*"/>
                        </label>
                    </div>
                    <div class="form_input" id="InputFile">
                        <label for="imgInp1">
                            Changer l'image
                            <input type="file" name="my_image1_audio" id="imgInp1" accept="image/*"/>
                        </label>
                    </div>
                    <select name="classCSS1" class="form_input">
                        <option>Position de l'image</option>
                        <option value="d-top">En haut</option>
                        <option value="d-right">Droite</option>
                        <option value="d-bottom">En bas</option>
                        <option value="d-left">Gauche</option>
                    </select>
                    <select name="classCSS2" class="form_input">
                        <option>--- Choisissez où vous voulez positionner l'encadré ---</option>
                        <option value="float-left">A gauche</option>
                        <option value="float-right">A droite</option>
                    </select>
                    <input type="text" name="legende1" id="legende" placeholder="Légende de l'audio" class="form_input">
                    <input type="text" name="credit1" id="credit" placeholder="Crédits de l'audio" class="form_input">
                {% elseif media == 'video' %}
                    <input type="text" name="title_encadre" id="title_encadre" placeholder="Titre de l'encadré" class="form_input">
                    <div class="form_input" id="InputFile">
                        <label for="videoInp1">
                            Uploader une vidéo
                            <input type="file" name="my_video1" id="videoInp1" accept="video/*"/>
                        </label>
                    </div>
                    <div class="form_input" id="InputFile">
                        <label for="imgInp1">
                            Changer l'image
                            <input type="file" name="my_image1_video" id="imgInp1" accept="image/*"/>
                        </label>
                    </div>
                    <select name="classCSS2" class="form_input">
                        <option>--- Choisissez où vous voulez positionner l'encadré ---</option>
                        <option value="float-left">A gauche</option>
                        <option value="float-right">A droite</option>
                    </select>
                    <input type="text" name="legende1" id="legende" placeholder="Légende de la vidéo" class="form_input">
                    <input type="text" name="credit1" id="credit" placeholder="Crédits de la vidéo" class="form_input">
                {% endif %}
                <input type="number" name="position" id="position" min="1" max="100" placeholder="Position de l'element" class="form_input">
                <select name="article" class="form_input">
                    <option value="">---Choisissez un article---</option>
                    {% for article in articles %}
                        <option value="{{article.id}}">{{article.article_name}}</option>                            
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Valider" class="form_input_submit" name="submit_encadre_media">
    </form>
{% endblock %}